[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
pylint = "*"
photonlibpy = "==2025.0.0b6"
robotpy-pathplannerlib = "==2025.0.0b5"
robotpy-cli = "2024.0.0"
robotpy = "==2025.0.0b2"
dill = "*"
exceptiongroup = "*"
tomli = "*"
wpilib = "==2025.0.b2"

[dev-packages]

[requires]
python_version = "3.12"
